# Copy to .env.local and fill in values from your local Carbon instance.
CARBON_API_KEY=
CARBON_APP_URL=http://localhost:3000
CARBON_PUBLIC_KEY=
CARBON_API_URL=http://localhost:54321
CARBON_COMPANY_ID=
